---
// Layout
import Layout from "../../layouts/Layout.astro";
// Components
import ShowCasePoem from '../../components/ShowCasePoem.vue'
import ShowCasePoet from '../../components/ShowCasePoet.vue'
import SelectedPrints from "../../components/SelectedPrints.vue";
// Utils
import {baseHttp} from '../../utils/axios'
// Types
import type { Poem } from "../../stores/__types__";
export const prerender = false;
const {  id } = Astro.params;


const poem: Poem = await baseHttp.get(`/poem/${id}`).then(
    (response) => response.data
).catch((err )=> console.error(err));
---

<Layout title="Adeeb :: Poem">
    <main>
        <div class="container">
            <section id="related-data">
                <a href=`/poet/${poem.poet.id}` class="link">
                    <ShowCasePoet details={poem.poet} client:idle/>
                </a>
                
            </section>
            <ShowCasePoem verses={poem.verses} client:idle/>

        </div>
        <SelectedPrints isPartner={false} client:idle/>
    </main>
</Layout>

<style lang="scss">
@import '../../assets/mixins.scss';

.container {
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 1rem;
}

#related-data {
    .link {
    text-decoration: none;
    }

    h2 {
    color: var(--text1);
    text-align: center;

    @include mQ($breakpoint-lg) {
        font-size: 1.1rem;
    }

    @include mQ($breakpoint-md) {
        font-size: 1rem;
    }

    @include mQ($breakpoint-sm) {
        font-size: 1rem;
    }
    }
}
</style>
    