---
// Layout
import Layout from "../../layouts/Layout.astro";
// Components
import ShowCasePoem from "../../components/ShowCasePoem.vue";
import ShowCasePoems from "../../components/ShowCasePoems.vue";
import ShowCasePoet from "../../components/ShowCasePoet.vue";
import SelectedPrints from "../../components/SelectedPrints.vue";
import HttpPopUp from "../../components/notifications/HttpPopUp.vue";
// Stores
import { getPoem, getOtherPoems, fetchPoem } from "../../stores/poems";
// UI
import { ui } from '../../i18n/ui'

export const prerender = false;
const { id } = Astro.params;

if (!id) return Astro.redirect("/");
await fetchPoem(id);

const {intro, poet, verses} = getPoem.value;
---

<Layout title={intro} description={intro + ' - ' + poet}>
  <HttpPopUp slot="http-popup"/>
  <main>
    <div class="container">
      <section id="related-data">
        <a href=`/poet/${poet.id}` class="link">
          <ShowCasePoet details={poet} client:idle />
        </a>

        <ShowCasePoems currentLocale="ar" poems={getOtherPoems.value}>
          <h2>{ui.ar.poem.otherPoems}</h2>
        </ShowCasePoems>
      </section>
      <ShowCasePoem verses={verses} client:idle />
    </div>
    <SelectedPrints currentLocale="ar" client:only="vue" />
  </main>
</Layout>

<style lang="scss">
  @import "../../assets/mixins.scss";

  .container {
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 1rem;
  }

  #related-data {
    .link {
      text-decoration: none;
    }

    h2 {
      color: var(--text1);
      text-align: center;

      @include mQ($breakpoint-lg) {
        font-size: 1.1rem;
      }

      @include mQ($breakpoint-md) {
        font-size: 1rem;
      }

      @include mQ($breakpoint-sm) {
        font-size: 1rem;
      }
    }
  }
</style>
 ../../stores/poems
