---
import { ViewTransitions, fade } from "astro:transitions";
// Components
import NavbarRoutes from "../components/NavbarRoutes.vue";
import ThemeSwitch from "../components/ThemeSwitch.astro";
interface Props {
  title: string; // Recommended length: 150 - 160 characters 
  description: string; // Recommended dimension: 1200 x 630 pixels 
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>

    <!-- Meta Tags Generated via https://opengraph.dev -->
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://m-shrief.tech">
    <meta property="og:type" content="website">
    <meta property="og:title" content={title}>
    <meta property="og:description" content={description}>    
    <meta property="og:image" content="/poster.png">  

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="m-shrief.tech">
    <meta property="twitter:url" content="https://m-shrief.tech">
    <meta name="twitter:title" content={title}>
    <meta name="twitter:description" content={description}>
    <meta name="twitter:image" content="/poster.png">
    <ViewTransitions />
  </head>
  <body  transition:animate={fade({duration: '0.4s'})}>
    <header>
      <nav id="nav-raw">
        <a href="/" id="logo">أديب</a>
        <div>
          <NavbarRoutes activeUrl={Astro.url.pathname} client:only="vue" />
          <ThemeSwitch />
        </div>
      </nav>
      <!-- <HttpPopUp /> -->
      <slot name="http-popup"/>
    </header>
    <slot />
    <footer>
      <p>
        Copyright &copy; 2022 |
        <a
          href="https://m-shrief.tech"
          title="Portfolio"
          target="_blank"
          id="profile">M. Shrief</a
        >
      </p>
    </footer>
  </body>
</html>

<style lang="scss" is:global>
  @import "../assets/base.css";
  @import "../assets/mixins.scss";

  #nav-raw {
    display: flex;
    flex-direction: row;
    background-color: #1f2124;
    justify-content: space-between;

    #logo {
      color: rgba($color: #f6b352, $alpha: 0.8);
      text-decoration: none;
      font-size: 1.4rem;
      font-weight: 700;
      padding: 0.2rem 0.4rem;
      margin: 0.4rem;

      &:hover {
        color: #f6b352;
      }

      @include mQ($breakpoint-sm) {
        font-size: 1rem;
        padding: 0.1rem 0.2rem;
        margin: 0.1rem;
      }
    }

    div {
      display: flex;
      flex-direction: row;
    }
  }

  footer {
    text-align: center;
    margin-top: 1.6rem;
    font-size: 1.2rem;
    font-weight: 700;

    #profile {
      color: var(--text1);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    @include mQ($breakpoint-sm) {
      margin-top: 1rem;
      font-size: 1rem;
    }
  }
</style>
