---
import { ViewTransitions, fade } from "astro:transitions";
// Components
import Header from "../components/Header.astro";
// Utils
import {getLangFromUrl} from '../i18n/utils'
// UI
import {defaultLang, ui} from '../i18n/ui'
interface Props {
  title: string; // Recommended length: 150 - 160 characters 
  description: string; // Recommended dimension: 1200 x 630 pixels 
}

const { title, description } = Astro.props;
const currentLocale = getLangFromUrl(Astro.url)
---

<!doctype html>
<html lang="en" dir={currentLocale == defaultLang ? 'rtl' : 'ltr'}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <!-- Supporting dark & light theme, but prefere the dark one -->
		<meta name="color-scheme" content="dark light">
    <title>{title}</title>

    <!-- Meta Tags Generated via https://opengraph.dev -->
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://m-shrief.tech">
    <meta property="og:type" content="website">
    <meta property="og:title" content={title}>
    <meta property="og:description" content={description}>    
    <meta property="og:image" content="/poster.png">  

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="m-shrief.tech">
    <meta property="twitter:url" content="https://m-shrief.tech">
    <meta name="twitter:title" content={title}>
    <meta name="twitter:description" content={description}>
    <meta name="twitter:image" content="/poster.png">
    <ViewTransitions />
  </head>
  <body  transition:animate={fade({duration: '0.4s'})}>
    <header>
      <Header currentLocale={currentLocale} />
      <!-- <HttpPopUp /> -->
      <slot name="http-popup"/>
    </header>
    <slot />
    <footer>
      <p>
        Copyright &copy; 2022 |
        <a
          href="https://m-shrief.tech"
          title="Portfolio"
          target="_blank"
          id="profile">M. Shrief</a
        >
      </p>
    </footer>
  </body>
</html>

<style lang="scss" is:global>
  @import "../assets/base.css";
  @import "../assets/color-scheme.css";
  @import "../assets/mixins.scss";

  footer {
    text-align: center;
    margin-top: 1.6rem;
    font-size: 1.2rem;
    font-weight: 700;

    #profile {
      color: var(--text1);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    @include mQ($breakpoint-sm) {
      margin-top: 1rem;
      font-size: 1rem;
    }
  }
</style>
